<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Poranny_asystent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.30319" newVersion="4.0.30319" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <Poranny_asystent.Properties.Settings>
      <setting name="planLink" serializeAs="String">
        <value />
      </setting>
      <setting name="kzkLink" serializeAs="String">
        <value />
      </setting>
      <setting name="ipLink" serializeAs="String">
        <value />
      </setting>
      <setting name="pkpLink" serializeAs="String">
        <value />
      </setting>
      <setting name="interPocUcz" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="interBusPoc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="interDomBus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="interWakeDom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="budzikActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikPN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikWT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikSR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikCZW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikPT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikSB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikND" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="budzikSygnal" serializeAs="String">
        <value />
      </setting>
      <setting name="budzikSygnal2" serializeAs="String">
        <value />
      </setting>
      <setting name="startVolume" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="increasingTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="increasingProcent" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="alarmDuration" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </Poranny_asystent.Properties.Settings>
  </userSettings>
</configuration>
